/*Seletor universal
* {
    border: 1px solid red;
}

/*Seletor de texto

h1 {
    color: green;
}

/*Seletor de classe

.verde {
    color: green;
}

p.verde {
    color: green ;
}

#cabecalho {
    border: 1px solid blue;
}

/*Seletor de filho
li>a {
    color: red;
    text-decoration: none;
} */


/* Seletor de descentente 

div a {
    color: green;
    text-decoration: none;
}
*/

/* Seletor adjacente irmão 

h1+p {
    color: red;
}
*/

/* Seletor adjacente irmão geral */

h1~p {
    color: red;
}